/*
© 2021 Amazon Web Services, Inc. or its affiliates. All Rights Reserved.  
This AWS Content is provided subject to the terms of the AWS Customer Agreement available at  
http://aws.amazon.com/agreement or other written agreement between Customer and either
Amazon Web Services, Inc. or Amazon Web Services EMEA SARL or both.
*/

#background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/load_screen.png');
  background-color: gray;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}

.iconButton {
  position: relative;
  transform: scale(0.65);
  cursor: pointer;
}

.iconButton:hover .buttonFace {
  background-color: #202020cc;
  transform: scale(1.05);
}

.iconButton:active .buttonFace {
  background-color: #89c24b;
}

.iconButton .ring {
  width: 100%;
  height: 100%;
  background-color: #ffffffaa;
  border: 1px solid white;
  border-radius: 1000px;
  position: absolute;
}

.iconButton .ring {
  display: none;
}

.iconButton:active .ring {
  display: block;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: ping;
}

.iconButton:active .ring:nth-child(1) {
  animation-delay: 0;
}

.iconButton:active .ring:nth-child(2) {
  animation-delay: 0.33s;
}

.iconButton:active .ring:nth-child(3) {
  animation-delay: 0.66s;
}

.iconButton:active .ring:nth-child(4) {
  animation-delay: 2s;
}

.buttonFace {
  border: 4px solid white;
  border-radius: 1000px;
  padding: 30px;
  background-color: #505050cc;
  box-shadow: 0 0 40px 10px #00000088;
  transition: transform ease-out 0.2s;
}

.iconButton:active .buttonFace {
  box-shadow: 0 0 40px 10px #00000044;
}



@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}